.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.ant-input::placeholder {
  color: #e5e7eb;
  opacity: 0.5;
}

input[type="file"] {
  display: none;
}

.uploadBtn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.4rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  background-color: #334155;
  border-radius: 5px;
  color: rgba(229, 231, 235, 0.7);
}

.uploadBtn:hover {
  color: #e5e7eb;
  border-color: #4096ff;
}

.anticon-eye-invisible > svg,
.anticon-eye > svg {
  color: #e5e7eb;
  opacity: 0.5;
}

.group-chat-btn {
  background-color: #0e7490;
  border-radius: 5px;
  padding: 0.4rem;
  border: 1px solid black;
}

.group-chat-btn:hover {
  border-color: #4096ff;
}

.ant-btn {
  background-image: linear-gradient(to bottom right, #1e293b, #0f172a);
  color: rgba(229, 231, 235, 0.8);
  font-size: 16px;
}

.ant-btn:hover {
  background-image: linear-gradient(
    to bottom right,
    #0f172a,
    #1e293b
  ) !important;
  color: #e5e7eb !important;
}

.required::after {
  content: "*";
  color: #f87171;
  margin-left: 5px;
}

button[tabindex="-1"] {
  color: rgba(229, 231, 235, 0.8);
}

button[tabindex="0"] {
  background-color: #0891b2 !important;
  color: #e5e7eb !important;
}

.ant-input:focus {
  background-color: #374151 !;
}

.chakra-menu__menu-list > span {
  background-color: #164e63 !important;
}

.eye-icon-button {
  background-color: "none" !important;
}
.eye-icon-button > svg {
  /* color: "white" !important; */
  fill: white;
}

.ant-dropdown-menu-item {
  background-color: #94a3b8;
}

/* 
.ant-dropdown-menu-item[tabindex="-1"]:hover {
  background: "black" !important;
  color: blue; 
}
 */

.ant-dropdown-menu {
  background-color: #94a3b8 !important;
}

.chakra-modal__close-btn > svg {
  color: white !important;
}

.custom-input {
  outline: none;
}

.custom-input:hover {
  border-color: #4096ff;
}

.custom-inputdiv > input {
  outline: none;
}

.custom-inputdiv:hover {
  border-color: #4096ff;
}

.custom-inputdiv {
  transition: border-color 0.3s ease;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: 2;
  transform-origin: 70% 70%;
  display: inline-block;
}

.wave:hover {
  animation-name: wave-hover;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wave-hover {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.scrollable-div {
  scrollbar-width: thin;
  scrollbar-color: #27272a #64748b;
}

.chat-logo:hover {
  transform: scale(1.04);
}
